.chart {
  width: 100%;

  &__graph {
    transform-origin: bottom left;
    transition: transform .7s ease-out;
    will-change: transform;
  }

  &__text {
    font: .8em Arial, sans-serif;
    letter-spacing: .5px;
    fill: #aaf;
  }
}
